.info-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 400px;

    .languages-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    
        span {
            font-size: 16px;
            color: var(--secondary-color);
        }
    }

    .education-info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span {
            font-size: 20px;
            color: var(--primary-color);
            
            &:last-child {
                color: var(--secondary-color);
                font-size: 14px;
            }
        }
    }

    .translate-info {
        .translate-btn {            
            background: var(--primary-color);
            width: 100%;
            border-radius: 8px;
            padding: 12px;
            font-weight: 400;
            color: var(--input-bg);
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            display: block;
            border: none;
            transition: opacity 0.2s ease;

            &:hover {
                opacity: 0.9;
            }                      
        }
    }
}